{% extends "base.html" %}
{% block content %}
<div class="form-container">
  <div class="form-box">
    <h2>Create Your <span class="brand">SmartDental</span> Account</h2>
    <form method="POST">
      {{ form.hidden_tag() }}

      <div class="form-group">
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}
      </div>

      <div class="form-group">
        {{ form.email.label }}<br>
        {{ form.email(class="form-control") }}
      </div>

      <div class="form-group">
        {{ form.password.label }}<br>
        {{ form.password(class="form-control") }}
      </div>

      <div class="form-group">
        {{ form.confirm.label }}<br>
        {{ form.confirm(class="form-control") }}
      </div>

      <div class="form-group">
        {{ form.submit(class="btn btn-primary btn-block") }}
      </div>
    </form>
    <p class="mt-3 text-center">Already have an account? <a href="{{ url_for('main.login') }}">Login</a></p>
  </div>
</div>
{% endblock %}
